.done-toggle {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 1.1em;
    height: 1.1em;
  }
  input[type="time"] {
    width: 8ch;
    width: min-content;
    font-size: 0.9em;
    color: var(--accent);
    border: none;
    font-weight: bold;
    background: none;
  }
}