.recipe-timings {
  margin: 0;
  font-size: 0.9rem;

  & > div {
    display: flex;
    justify-content: flex-end;
    text-align: right;

    dd {
      flex: 0 0 auto;
      min-width: 10ch;
      margin-left: var(--space-2);
    }
  }
}