.tooltipped {
  display: inline-block;
  padding: 0.1em 0.2em;
  position: relative;
  background: none;
  border: none;
  border-bottom: 2px dotted var(--accent);
}

.tooltipped + span {
  margin: 0;
  inset: auto;
  /* bottom: calc(anchor(top) + 2px);
  justify-self: anchor-center;*/
  position-area: top;
  padding: 0.3em;
  border-radius: 5px;
  background-color: var(--accent);
  color: #fff;
  font-size: 1.1em;

  &::backdrop {
    background-color: #0001;
  }
}
