:root {
	--accent: hsl(219.8, 87.5%, 43.9%);
	--primary: hsl(161, 100%, 17%);
	--highlight: hsl(349, 74%, 52%);

	--space-2: 0.5em;
	--space: 1em;
	--space-6: 1.5em;
	--space-8: 2em;
	--space-12: 3em;
	--space-16: 4em;
}