
.primary {
  color: var(--primary);
}

.highlight {
  color: var(--highlight);
}

.accent {
  color: var(--accent);
}

.bold {
  font-weight: bold;
}

.mb-1 { margin-bottom: var(--space-1); }
.mb-2 { margin-bottom: var(--space-2); }
.mb { margin-bottom: var(--space); }
.mb-6 { margin-bottom: var(--space-6); }
.mb-8 { margin-bottom: var(--space-8); }
.mb-12 { margin-bottom: var(--space-12); }
.mb-16 { margin-bottom: var(--space-16); }
