<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% include "meta.njk" %}
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@0.6.0/modern-normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
     {% block head %}{% endblock %}

    {% if env.IS_DEV %}
      <link rel="stylesheet" href="/assets/css/recipe-theme.css" />
      <link rel="stylesheet" href="/assets/css/app.css" />
    {% else %}
      <style>{% include "../../../dist/assets/css/recipe-theme.css" %}</style>
      <style>{% include "../../../dist/assets/css/app.css" %}</style>
    {% endif %}

    <script src="/assets/js/app.js" defer></script>
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script>
      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      {% endif %}
    </script>
  </body>
</html>
