{% extends 'layouts/base.njk' %}

{% block content %}
  <header>
    <nav>
      <a href="/"><strong>DW<span class="accent">CC</span></strong></a>
    </nav>
  </header>

  <main tabindex="-1">

    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ content | safe }}

  </main>

{% endblock %}
