{% extends 'layouts/base.njk' %}

{% block content %}
  <header>
    <nav>
      <a href="/"><strong>DW<span class="accent">CC</span></strong></a>
    </nav>
  </header>
  <main tabindex="-1" x-data="amounts()">

    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ content | safe }}

    {% if sources %}

      <hr/>

      <details>
        <summary>Sources</summary>
        <ul>
          {% for source in sources %}
          <li>{{ source | urlize | safe }}</li>
          {% endfor %}
        </ul>
      </details>

    {% endif %}

  </main>

  <script>
    function amounts() {
      return {
        modifier: 1,
        modified() { return this.modifier != 1 },
        isEditing: false,
        toggleEditingState() {
            this.isEditing = !this.isEditing;

            if (this.isEditing) {
                this.$nextTick(() => {
                    this.$refs.input.focus();
                });
            }
        },
        disableEditing() {
            this.isEditing = false;
        },
        format(amount) {
          let newAmount = amount * this.modifier;
          return newAmount <= 20 ? newAmount.toPrecision(3) / 1 : Math.round(newAmount);
        }
      }
    }
  </script>
{% endblock %}
