{% macro editableAmount(name, defaultAmount) %}
<span class="editable-amount" :class="{ 'editable-amount--editing': isEditing }">
    <strong
    @click="enableEditing()"
    x-text="format( {{ defaultAmount }} )"
    class="editable-amount__amount"
    :class="{ 'highlight': isEditing }"
    > {{ defaultAmount }} </strong>
</span>
{% endmacro %}

{% macro controlledAmount(defaultAmount) %}
<strong x-text="format({{ defaultAmount }})" :class="{ 'highlight': isEditing }">{{ defaultAmount }}</strong>
{% endmacro %}

{% macro tooltipAmount(ingredient, defaultAmount, unit) %}
<button class="tooltipped">{{ ingredient }} <span class="tooltip">{{ controlledAmount(defaultAmount) }}{{ unit }}</span></button>
{% endmacro %}


{% macro amountControls() %}
    <div
        class="editable__controls"
        x-show.transition.origin.bottom.center="isEditing"
        @click.away="disableEditing"
        @keydown.enter="disableEditing"
        @keydown.window.escape="disableEditing"
        x-cloak
    >
        <button @click.prevent="snapping ? increment(-0.1): increment(-0.01)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M0 0h24v24H0z" stroke="none"/>
                <path d="M12 5v14M18 13l-6 6M6 13l6 6"/>
            </svg>
        </button>
        <div class="editable__range-holder">
            <input
                type="range"
                name="{{ name }}"
                min="0.1"
                max="2.5"
                :step="snapping ? 0.1 : 0.01"
                id="{{ name }}"
                x-model="modifier"
                x-ref="input"
                class="rangeInput"
            >
            <datalist x-show="snapping">
                <option value="0.1" label="0.1">0.1</option>
                <option value="0.5" label="0.5">0.5</option>
                <option value="1" label="1">1</option>
                <option value="1.5" label="1.5">1.5</option>
                <option value="2" label="2">2</option>
                <option value="2.5" label="2.5">2.5</option>
            </datalist>
        </div>
        <button @click.prevent="snapping ? increment(0.1) : increment(0.01)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M0 0h24v24H0z" stroke="none"/>
            <path d="M12 5v14M18 11l-6-6M6 11l6-6"/>
            </svg>
        </button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="editable__waves" height="30" :style="'transform:scaleY(' + modifier + ')'" preserveAspectRatio="none" aria-hidden="true">
            <path fill="#fff" d="M0,288L48,272C96,256,192,224,288,186.7C384,149,480,107,576,74.7C672,43,768,21,864,42.7C960,64,1056,128,1152,133.3C1248,139,1344,85,1392,58.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
        <p class="editable__snapping-indicator">Rounding is <strong @click="toggleSnapping" x-text="snapping ? 'On' : 'Off'"></strong></p>
    </div>
{% endmacro %}