<header>
  {% if navigation.items %}
    <nav>
      {% for item in navigation.items %}
        {% set isCurrent = '' %}

        {% if page.url == item.url %}
          {% set isCurrent = ' aria-current="page"' %}
        {% endif %}
        <a href="{{ item.url }}"{{ isCurrent | safe }}>
          <b>{{ item.text }}</b>
        </a>
      {% endfor %}
    </nav>
  {% endif %}
</header>
