---
layout: recipe
title: Basic Roast Chicken
icon: 🐣
tags: meal
ingredients:
  - chicken
  - carrots
  - potatoes
sources:
  - https://www.bbcgoodfood.com/recipes/classic-roast-chicken-gravy
  - https://www.waitrose.com/home/recipes/roast-guide/roast-chicken.html
preptime: 15 mins
cooktime: 1 hour 45 mins
totaltime: ~= 2 hours
diettype: omnivore
---

{% from "editableAmounts.njk" import amountControls, editableAmount, controlledAmount %}

<article x-data="amounts()">

    <h2>Ingredients</h2>

    <ul>
        <li>A whole chicken - take out of the fridge at least 30 mins before cooking</li>
        <li>Carrots</li>
        <li>Potatoes</li>
        <li>Onions</li>
    </ul>

    <hr/>

    <h2>Method</h2>

    <ol>
        <li>Preheat fan oven to 170 degrees celcius</li>
        <li>Roughly chop a couple of onions and some carrots, place on the base of a large roasting tin. Add a few garlic cloves and or other root veg if desired.</li>
        <li>Rub the chicken on all skin with olive oil, salt and pepper, and add salt, pepper and (optionally) thyme and lemon to the cavity.</li>
        <li>Ensure the chicken legs are crossed or held together (with string or by making holes in the thigh skin and stuffing through).</li>
        <li>Put the chicken on the veg so that the veg is mostly covered with the chicken, then put in the middle of the oven.</li>
        <li>20 Minutes per 500g + 20 mins.</li>
        <li>Meanwhile, parboil the potatoes. After about 20 mins of boiling, drain the potatoes and shake in the colander/seive to make the skin and flesh a bit 'roughed up'. This will help get a nice texture from roasting.</li>
        <li>Halfway through roasting the chicken, take out the oven, move the veg around to make sure none is burning, and baste the chicken with some juices/oil from the roasting tin.</li>
        <li>When about 20 mins left of roasting, add a shallow baking tray with vegetable oil into the oven, in prep for potatoes. After a few minutes, when the oil is very hot, take out and add the potatoes. Season with salt/pepper/herbs and put in the oven. You can check the chicken cooking progress at the same time.</li>
        <li>After the roasing time finishes, make sure the chicken is cooked - temperature in the thickest part of the thigh should be at least <strong>75C</strong>.</li>
        <li>If cooked, remove the chicken tray from the oven, and turn up to 190C for the potatoes to finish crisping.</li>
        <li>Use tongs to grab the chicken and put it on a chopping board to rest for 15 - 20 mins, letting all of the juices go into the roasting tray with the veg. You can cover the chicken with foil.</li>
        <li>Remove all or most of the veg onto a warm plate, then make the gravy.</li>
        <li>Put the roasting tray over a small heat on the hob, then add a tablespoon of plain flour and mix to form a brown sandy paste. Add some chicken stock (about 350 ml) and stir till mixed, then transfer the gravy to a small saucepan and keep stirring over a low flame. Add water or flour as needed.</li>
        <li>When the chicken has rested and the potatoes have cooked, carve the chicken and serve with potatoes, veg and gravy.</li>
    </ol>

    <hr/>

    <h2>Notes</h2>

    <ul>
        <li>If you want smoother gravy, remove the veg in the tray and strain it into the saucepan.</li>
    </ul>

</article>
