---
layout: recipe
title: Hand Blender Sauces
icon: 🍯
tags: sauce
ingredients:
  - cashew nuts
  - tahini
  - soy sauce
  - ginger
  - miso paste
preptime: 5 mins
cooktime: 5 mins
totaltime: 10 mins
---

{% from "editableAmounts.njk" import editableAmount, controlledAmount %}

<article x-data="amounts()">
    <h2>
        Cashew Balsamic Dressing
    </h2>

    <p>
        Prep time: <strong>5 minutes</strong>.
    </p>

    <p>
        Makes about {{ editableAmount('cbd', 235) }} ml.
    </p>

    <ul>
        <li>{{ controlledAmount(2.5) }} tablespoons soy sauce</li>
        <li>{{ controlledAmount(1.5) }} tablespoons balsamic vinegar</li>
        <li>{{ controlledAmount(2) }} tablespoons water</li>
        <li>{{ controlledAmount(120) }}ml neutral-tasting oil, such as high-oleic safflower or avocado oil</li>
        <li>{{ controlledAmount(40) }}g cashews</li>
    </ul>

    <p>
        Place all the ingredients in a wide-mouthed Mason jar or cup that will fit an immersion blender without splashing. Pulse a few times to blend until the cashews are in small pieces but still chunky.
    </p>

    <p>
        Place a lid on the jar. For best results, set aside for at least one hour to allow the flavours to develop. The dressing will keep in the refrigerator for one to two weeks.
    </p>
</article>

<hr/>

<article x-data="amounts()">

    <h2>Ginger Tahini Dressing</h2>

    <p>
        Prep time: <strong>5 minutes</strong>.
    </p>

    <p>
        Makes about {{ editableAmount('gtd', 235) }} ml.
    </p>

    <ul>
        <li>{{ controlledAmount(60) }}g tahini</li>
        <li>{{ controlledAmount(2) }} tablespoons white miso paste</li>
        <li>{{ controlledAmount(1) }} 2-inch piece ginger, peeled and thinly sliced</li>
        <li>{{ controlledAmount(2) }} teaspoons rice vinegar</li>
        <li>{{ controlledAmount(1) }} teaspoon soy sauce</li>
        <li>{{ controlledAmount(120) }}ml warm water</li>
    </ul>

    <p>
        Place all the ingredients in a wide-mouth Mason jar or cup that will fit an immersion blender without splashing. Blend, working the blender into the pieces of ginger until smooth. Add additional water as needed to reach the desired consistency.
    </p>

    <p>
        Place a lid on the jar. For best results, set aside for at least one hour to allow the flavors to develop. The dressing will keep in the refrigerator for one to two weeks.
    </p>
</article>

<hr/>

<article x-data="amounts()">
    <h2>Moroccan Sauce</h2>
    
    <p>
        Prep time: <strong>7 minutes</strong>.
    </p>

    <p>
        Makes about {{ editableAmount('ms', 165) }} ml.
    </p>

    <ul>
        <li>{{ controlledAmount(1) }} 2-inch piece fresh ginger, peeled and sliced into thin rounds</li>
        <li>{{ controlledAmount(3) }} medium cloves garlic</li>
        <li>{{ controlledAmount(1) }} 3-to-4-inch piece fresh turmeric, peeled, or {{ controlledAmount(1) }} teaspoon ground turmeric (optional)</li>
        <li>{{ controlledAmount(2) }} teaspoons paprika</li>
        <li>{{ controlledAmount(1) }} teaspoon ground cumin</li>
        <li>{{ controlledAmount(1) }} teaspoon ground coriander</li>
        <li>{{ controlledAmount(0.5) }} teaspoons ground cinnamon</li>
        <li>{{ controlledAmount(0.25) }} teaspoons ground cloves</li>
        <li>Dash of freshly grated nutmeg</li>
        <li>{{ controlledAmount(0.25) }} teaspoons ground white or black pepper</li>
        <li>{{ controlledAmount(10) }} sprigs coriander, stems and leaves coarsely chopped</li>
        <li>{{ controlledAmount(60) }}ml extra-virgin olive oil</li>
        <li>{{ controlledAmount(60) }}ml water</li>
        <li>{{ controlledAmount(0.5) }} teaspoons salt</li>
        <li>Dash of cayenne pepper, or to taste (optional)</li>
    </ul>

    <p>
        Place all the ingredients in a wide-mouth Mason jar or cup that will fit an immersion blender without splashing. Blend, working the blender in the jar until the garlic, ginger and turmeric are smooth.
    </p>
    
    <p>
        Place a lid on the jar. For best results, set aside for at least one hour to allow the flavors to develop. The dressing will keep in the refrigerator for up to two weeks.
    </p>
</article>

<hr/>

<article x-data="amounts()">
    <h2>Thai Peanut Sauce</h2>
    
    <p>
        Prep time: <strong>5 minutes</strong>.
    </p>

    <p>
        Makes about {{ editableAmount('ms', 400) }} ml.
    </p>

    <ul>
        <li>{{ controlledAmount(1) }} large orange, {{ controlledAmount(4) }} small clementines or {{ controlledAmount(2) }} large tangerines, peeled, seeded and cut into 1-inch pieces</li>
        <li>{{ controlledAmount(1) }} 1/2-inch piece fresh ginger, peeled</li>
        <li>{{ controlledAmount(1) }} teaspoon fresh lime juice</li>
        <li>{{ controlledAmount(114) }}g peanut butter (no sugar added)</li>
        <li>{{ controlledAmount(1) }} teaspoon unseasoned rice vinegar</li>
        <li>{{ controlledAmount(2) }} tablespoons water</li>
        <li>{{ controlledAmount(1) }} tablespoon soy sauce</li>
        <li>{{ controlledAmount(0.25) }} teaspoon salt</li>
        <li>{{ controlledAmount(0.25) }} to {{ controlledAmount(0.5) }} teaspoon cayenne pepper, or to taste</li>
    </ul>
    
    <p>
        Place all the ingredients in a wide-mouth Mason jar or cup that will fit an immersion blender without splashing. Blend until the orange is fully blended and the sauce is thick and creamy. Adjust seasoning to taste.
    </p>
    
    <p>
        Place a lid on the jar. Allow the flavors to develop for one hour or more in the refrigerator. The dressing will keep for about a week.
    </p>
</article>
