---
layout: recipe
title: Braised Chicken with Prunes
icon: 🐣
tags: meal
ingredients:
  - chicken
  - prunes
  - parmesan
  - cashews
  - pine nuts
  - white wine
sources:
  - Erika
  - https://www.thespruceeats.com/chicken-catalan-style-pollo-a-la-catalana-3083360
  - https://cuinetes.bloks.cat/2012/03/16/pollastre-a-la-catalana/
  - Common sense
preptime: 15 mins
cooktime: 1 hour
totaltime: ~= 1 hour 15 mins
diettype: omnivore
---

{% from "editableAmounts.njk" import amountControls, editableAmount, controlledAmount %}

<article x-data="amounts()">

    <h2>Ingredients</h2>

    <p>
        Makes {{ editableAmount('total', 4) }} good portions. Amounts below are approximate - feel free to add more or less of each.
    </p>

    <ul>
        <li>{{ editableAmount('chicken', 8) }} chicken thighs (approx {{ controlledAmount(1) }}kg)</li>
        <li>1 Parmesan rind</li>
        <li>{{ controlledAmount(250) }}ml white wine</li>
        <li>{{ controlledAmount(250) }}ml chicken stock</li>
        <li>{{ controlledAmount(120) }}g moist, pitted prunes (or if using dried, soak for a few hours first)</li>
        <li>2 bay leaves</li>
        <li>{{ controlledAmount(80) }}g cashews</li>
        <li>Olive oil</li>
        <li>{{ controlledAmount(60) }}g pine nuts</li>
    </ul>

    <hr/>

    <h2>Method</h2>

    <ol>
        <li>In a casserole dish, heat some olive oil with the parmesan rind.</li>
        <li>Add the chicken pieces and brown on all sides.</li>
        <li>Add the cashews, pine nuts, prunes and bay leaves, then add the wine and stock to cover most of the chicken.</li>
        <li>Cover the pot, and cook on a low heat for 1 hour.</li>
        <li>Serve with rice or mashed potato and garnish with a few pine nuts.</li>
    </ol>

    <hr/>

    <h2>Notes</h2>

    <ul>
        <li>Cashews are optional</li>
        <li>Amounts are approximate</li>
    </ul>

    {{ amountControls() }}

</article>
