---
layout: recipe
title: Two Loaves of Sourdough Bread
sources:
  - https://zerowastechef.com/2015/09/17/sourdough-bread/
  - https://www.bakewithjack.co.uk/blog-1/2018/7/5/sourdough-loaf-for-beginners
  - https://bakerbettie.com/understanding-the-sourdough-bread-process/
---

<h2>Ingredients</h2>
<p><strong>Leaven</strong></p>
<ul>
    <li>50 grams whole wheat flour</li>
    <li>50 grams white flour</li>
    <li>100 grams warm water</li>
    <li>20 grams recently fed sourdough starter</li>
</ul>

<p><strong>Sourdough</strong></p>
<ul>
    <li>600 grams whole wheat flour</li>
    <li>200 grams white flour</li>
    <li>200 grams rye flour</li>
    <li>750 grams warm water (can add up to 100g more for fluffier result but harder to handle)</li>
    <li>25 grams salt combined with an additional 50 grams warm water</li>
</ul>

<hr/>

<h2>Method</h2>
<p><strong>The night before</strong></p>
<ol>
    <li>Mix the ingredients for the leaven in a bowl and leave overnight, covered.</li>
    <li>Mix all of the flour for the sourdough in a large bowl with 750-800g water and leave to soak overnight, covered.</li>
</ol>
<p><strong>The morning</strong></p>
<ol>
    <li>If the leaven is sufficiently leaven (floats in water), add it to the soaked flour and mix thouroughly with hands. Note the time - bulk fermentation has begun and will take approx 5 hours depending on temperature.</li>
    <li>Add <strong>25g salt</strong> to <strong>50g water</strong> and dissolve.</li>
    <li>After <strong>20 mins</strong> add salty water to dough and mix thouroughly.</li>
    <li>After another <strong>20 mins</strong> do the first stretch-and-fold. Can be done in the bowl with a wet hand.</li>
    <li>
        If incorporating seeds, nuts, olives, raisins etc, prepare now:
        <ul>
            <li>Seeds should be toasted and soaked with about 2/3s amount of water (will be absorbed)</li>
            <li>Nuts should be toasted and if whole, chopped into smaller pieces</li>
            <li>Olives should be chopped into smaller pieces</li>
            <li>Raisins should be soaked for 30 mins and strained</li>
        </ul>
    </li>
    <li>After <strong>30 mins</strong> another stretch-and-fold (and add seeds etc if using).</li>
    <li>Every 30 - 45 mins, turn with stretch-and-fold, until dough is ready for preshape (after about 4-6 hours).</li>
    <li>Sprinkle top of dough with flour, and flour the work surface. Carefully tip dough out so bottom should be floured and not sticking.</li>
    <li>Divide dough into two with the dough scraper, firmly, and not slowly.</li>
    <li>Gently do another big stretch-and-fold to each, sticking sticky dough into itself, flipping it over when done.</li>
    <li>Leave the two dough balls for <strong>20 mins</strong> and cover with large bowls (or tea towels if they're not too sticky)</li>
    <li>Sprinkle more flour on work surface. Flip a blob over, and shape it. Pull gently into rectangle. Do similar technique to stretch-and-fold, but rolling back against tension of work surface to a ball.</li>
    <li>Put doughball onto baking paper, in a bowl shape, to do final prove for <strong>1 - 2 hours</strong>.</li>
    <li>Preheat oven to 230deg and preheat casserole dish.</li>
    <li>Score first loaf and put in dish with lid on, bake for 20 mins.</li>
    <li>Remove loaf from casserole dish, replace with the second loaf (score it first!). Put both back in the oven for 20 mins - the first now without any cover. After 20 mins, remove the second from the dish, or at least remove the lid. Check if the first needs more time and take it out if not - it should sound hollow if tapped on the bottom.</li>
    <li>Done! Leave to cool fully then enjoy :)</li>
</ol>
