---
layout: recipe
title: One Pot Quick Pasta Sauce
icon: 🍝
tags: meal
ingredients:
  - linguine
  - capers
  - tomatoes
  - mushrooms
sources:
  - https://www.thekitchn.com/one-pot-pasta-recipes-261459
preptime: 5 mins
cooktime: 10 mins
totaltime: 15 mins
dietstatus: vegan
---

{% from "editableAmounts.njk" import amountControls, editableAmount, controlledAmount %}

<article x-data="amounts()">

    <h2>Ingredients</h2>

    <p>
        Makes {{ editableAmount('total', 4) }} portions. Add a mix of ready or quick cooking ingredients to the pasta, as you like.
    </p>

    <ul>
        <li>{{ editableAmount('linguine', 340) }}g linguine (other other, similar pasta)</li>
        <li>{{ controlledAmount(920) }}ml water</li>
        <li>{{ controlledAmount(2) }}tbsp olive oil</li>
        <li>{{ controlledAmount(2) }}tsp salt</li>
        <li>Pepper</li>
        <li>Veg and protein (chopped tomatoes, capers, cooked chicken, mushrooms, beans, chorizo, basil, olives, garlic, peppers, fennel, etc)</li>
    </ul>

    <hr/>

    <h2>Method</h2>

    <ol>
        <li>Put all ingredients in a wide, shallow skillet/pan/kadai.</li>
        <li>Bring to the boil. Cook, stirring and mixing, for approx 10 mins, or until the pasta is al dente and most of the liquid has evaporated.</li>
    </ol>

    <hr/>

    <h2>Notes</h2>

    <ul>
        <li>The starch from the pasta will give the sauce a creamy texture.</li>
        <li>Use a shallow pan - deep saucepans will prevent the water from evaporating and will lead to overcooked pasta.</li>
    </ul>

    {{ amountControls() }}

</article>