---
layout: recipe
title: Sloe Gin
sources:
  - Parents
---

<h2>Ingredients</h2>

<ul>
    <li>
        <strong
        @click="toggleEditingState"
        x-text="isEditing ? 225 : format(225)"
        class="editable bold">225</strong>
        <span x-show="isEditing"> &times; </span>
        <input
            type="number"
            name="sloes"
            id="sloes"
            x-model="modifier"
            x-show="isEditing"
            @click.away="toggleEditingState"
            @keydown.enter="disableEditing"
            @keydown.window.escape="disableEditing"
            x-ref="input"
            class="numberInput"
        >
        <strong x-show="isEditing" x-text="'= ' + format(225)" class="highlight bold"></strong>
        grams sloes
    </li>
    <li><strong x-text="format(85)" :class="{ 'highlight': isEditing }">85</strong> grams sugar</li>
    <li><strong x-text="format(350)" :class="{ 'highlight': isEditing }">350</strong> ml gin</li>
    <li><strong x-text="format(1)" :class="{ 'highlight': isEditing }">1</strong> capful amaretto</li>
</ul>

<hr/>

<h2>Method</h2>

<ol>
    <li>Prick the sloes (with clean needle) then put in bottles with gin, sugar and amaretto.</li>
    <li>Shake well for first few days, till sugar dissolved, then leave for at least 3 months before filtering.</li>
</ol>

<hr/>

<h2>Notes</h2>

<ol>
    <li>If you wash and freeze the sloes, you can make it at your leisure. ( If you freeze them on a flat tray, they shouldn't stick together so much )</li>
</ol>