---
layout: page
title: Sloe Gin
---

<h2>Ingredients</h2>

<ul>
    <li>225 grams sloes</li>
    <li>85 grams sugar</li>
    <li>350 ml gin</li>
    <li>1 capful amaretto</li>
</ul>

<hr/>

<h2>Method</h2>

<ol>
    <li>Prick the sloes (with clean needle) then put in bottles with gin, sugar and amaretto.</li>
    <li>Shake well for first few days, till sugar dissolved, then leave for at least 3 months before filtering.</li>
</ol>

<hr/>

<h2>Notes</h2>

<ol>
    <li>If you wash and freeze the sloes, you can make it at your leisure. ( If you freeze them on a flat tray, they shouldn't stick together so much )</li>
</ol>

<hr/>

<details>
    <summary>Sources</summary>
    <ul>
        <li>
            Parents
        </li>
    </ul>
</details>
