---
layout: recipe
title: Sloe Gin
icon: 🍷
sources:
  - Parents
tags: drink
ingredients:
  - sloe berries
  - gin
preptime: 30 mins
cooktime: 0
totaltime: 30 mins
---

{% from "editableAmounts.njk" import editableAmount, controlledAmount %}

<article x-data="amounts()">

    <h2>Ingredients</h2>

    <ul>
        <li>{{ editableAmount('sloe', 255) }} grams sloes</li>
        <li>{{ controlledAmount(72) }} - {{ controlledAmount(85) }} grams sugar - depending on desired sweetness</li>
        <li>{{ editableAmount('gin', 350) }} ml gin</li>
        <li>{{ controlledAmount(1) }} capful amaretto (or almond essence) - optional</li>
    </ul>

    <hr/>

    <h2>Method</h2>

    <ol>
        <li>Prick the sloes (with clean needle) then put in bottles with gin, sugar and amaretto.</li>
        <li>Shake well for first few days, till sugar dissolved, then leave for at least 3 months before filtering.</li>
    </ol>

    <hr/>

    <h2>Notes</h2>

    <ul>
        <li>If you wash and freeze the sloes, you can make it at your leisure. ( If you freeze them on a flat tray, they shouldn't stick together so much )</li>
    </ul>

</article>